<%- include("./partials/header") %>

<section class="section container" id="detalhe">
    <div class="row">
        <div class="col s12 l5">
            <h2 class="indigo-text text-darken-4">
               Transfêrencia bancaria
            </h2>
            <p> No campo valor, coloque a quantia que você deseja transferir</p>
            <p> No campo CPF preencha o mesmo de acordo com o cpf da pessoa que você deseja realizar a transferência.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur</p>  
        </div>
        <div class="card col s12 l5 offset-l2">
            <form class="col s12" method="POST" action="<%= formAction %>">
                <div class="row">
                    <% if(typeof alert != 'undefined'){ %>
                        <% alert.forEach(function(error){ %>
                          <div class="materialert error">
                            <div class="material-icons">error_outline</div>
                            <%= error.msg %>
                          </div>
                        <% }) %>
                    <% } %>
                    <% if (error) { %>
                        <div class="materialert error">
                            <div class="material-icons">error_outline</div>
                            <%= error %>
                        </div>
                    <% } %>
                </div>
                <div class="row">
                    <div class="input-field col s12 l12">
                        <i class="material-icons prefix">paid</i>
                        <input id="transfer" type="number" class="validate" name="transfer">
                        <label for="transfer">Valor</label>
                    </div>
                    <div class="input-field col s12 l12">
                        <i class="material-icons prefix">badge</i>
                        <input id="cpf" type="text" class="validate" name="cpf">
                        <label for="cpf">Digite o CPF para quem vai ser transferido</label>
                    </div>
                </div>
                <div class="col l8 offset-l2 s12 center" id="botoes_registrar">
                    <a href="/account" class="waves-effect red darken-3  btn">Voltar</a>
                    <button type="submit" class="waves-effect green btn">Transferir</button>
                </div>
            </form>
        </div>
    </div>
</section>

<%- include("./partials/footer") %>